<header class="w-full h-[50px] p-[10px] bg-black flex items-center  sticky top-0" style="z-index: 1;">
    <div class="relative text-2xl w-full text-white"> Cart App </div>
    <a class="text-white font-bold mr-4" type="button" routerLink="/products">Products</a>
</header>
<div class="absolute w-full h-full pt-3 bg-gray-800">
    <div class="mx-auto px-4 sm:px-6 lg:px-8 bg-gray-800">
        <div class="flex items-center justify-center">
            <h1 class="text-3xl font-semibold text-white">Your Cart</h1>
        </div>
        @if(((cartItems$|async)?.length) === 0) {
        <div class="mx-auto max-w-md md:mt-4">
            <div class="rounded-3xl bg-white shadow-lg">
                <div class="px-4 py-6 sm:px-8 sm:py-10">
                    <div class="flow-root text-black text-center"> Please add something to the cart !!</div>
                </div>
            </div>
        </div>
        }
        @else{
        <div class="mx-auto w-[800px] max-w-md md:mt-4">
            <div class="rounded-3xl bg-white shadow-lg">
                <div class="px-4 py-6 sm:px-8 sm:py-10">
                    <div class="flow-root w-full max-h-[300px] overflow-auto" id="content">
                        <ul *ngFor="let item of cartItems$|async">
                            <li class=" flex flex-col space-y-3 py-6 text-left sm:flex-row sm:space-x-5 sm:space-y-0">
                                <div class="shrink-0 relative">
                                    <span
                                        class="absolute top-1 left-1 flex h-6 w-6 items-center justify-center rounded-full border bg-white text-sm font-medium text-gray-500 shadow sm:-top-2 sm:-right-2">{{item.quantity}}</span>
                                    <div class="w-full flex justify-center">
                                        <img class="w-36 h-36 bg-gray-300 " style="object-fit:contain"
                                            src={{item.image}} alt="product-image">
                                    </div>
                                </div>
                                <div class="relative flex flex-1 flex-col justify-between">
                                    <div class="sm:col-gap-5 sm:grid sm:grid-cols-2 ">
                                        <div class="pr-8 sm:pr-5">
                                            <p class="text-base font-semibold text-gray-900">{{item.title}}</p>
                                            <p class="mx-0 mt-1 mb-0 text-sm text-gray-400">{{item.category}}</p>
                                        </div>
                                        <div
                                            class="mt-4 flex items-end justify-between sm:mt-0 sm:items-start sm:justify-end">
                                            <p
                                                class="shrink-0 w-20 text-base font-semibold text-gray-900 sm:order-2 sm:ml-8 sm:text-right">
                                                ₹{{item.price}}</p>
                                        </div>
                                    </div>
                                    <div class="absolute top-0 flex gap-10 right-0 flex sm:bottom-0 sm:top-auto">
                                        <button (click)="incProduct(item.id)"
                                            class="text-base text-gray-900 hover:text-green-900 hover:font-bold"
                                            type="button">+
                                        </button>
                                        <button (click)="decProduct(item.id)"
                                            class="text-base text-gray-900 hover:text-green-900 hover:font-bold"
                                            type="button">-
                                        </button>
                                        <button class="text-base text-gray-900  hover:text-red-900 hover:font-semibold"
                                            type="button" (click)="removeItem(item.id)">Remove</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="mt-6 space-y-3 border-t border-b py-8">
                        <div class="flex items-center justify-between">
                            <p class="text-gray-400">Subtotal</p>
                            <p class="text-lg font-semibold text-gray-900">₹{{cartTotal$ | async}}</p>
                        </div>
                        <div class="flex items-center justify-between">
                            <p class="text-gray-400">Shipping Charge</p>
                            <p class="text-lg font-semibold text-gray-900">₹0.00</p>
                        </div>
                    </div>
                    <div class="mt-6 flex items-center justify-between">
                        <p class="text-sm font-medium text-gray-900">Total</p>
                        <p class="text-xl font-semibold text-gray-900">{{cartTotal$ | async}}
                            <!-- <span class="text-xs font-normal "> {{cartTotal$ | async}}</span> -->
                        </p>
                    </div>

                    <div class="mt-6 text-center">
                        <button type="button"
                            class="group inline-flex w-full items-center justify-center rounded-md bg-orange-500 px-6 py-4 text-lg font-semibold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800">
                            Place Order
                            <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:ml-8 ml-4 h-6 w-6 transition-all"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>